<a href="https://colab.research.google.com/github/TomasCastilloF/Desempeno_Academico_Un_Modelo_Predictivo_Basado_en_Factores_Sociodemograficos_y_Conductuales/blob/main/Proyect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import os

In [7]:
# Verificar si el repositorio ya est√° clonado
if not os.path.exists('House_Price_Prediction_Based_on_Features'):
    !git clone https://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@github.com/TomasCastilloF/House_Price_Prediction_Based_on_Features.git

Cloning into 'House_Price_Prediction_Based_on_Features'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (6/6), 22.08 KiB | 5.52 MiB/s, done.

In [9]:
data = pd.read_excel('House_Price_Prediction_Based_on_Features/data-housing.xlsx')

In [10]:
data.head()

,price,area,bedrooms,bathrooms,stories,guestroom,hotwaterheating,airconditioning,parking
0,13300000,7420,4,2,3,no,no,yes,2
1,12250000,8960,4,4,4,no,no,yes,3
2,12250000,9960,3,2,2,no,no,no,2
3,12215000,7500,4,2,2,no,no,yes,3
4,11410000,7420,4,1,2,yes,no,yes,2

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            545 non-null    int64
 1   area             545 non-null    int64
 2   bedrooms         545 non-null    int64
 3   bathrooms        545 non-null    int64
 4   stories          545 non-null    int64
 5   guestroom        545 non-null    object
 6   hotwaterheating  545 non-null    object
 7   airconditioning  545 non-null    object
 8   parking          545 non-null    int64
dtypes: int64(6), object(3)
memory usage: 38.4+ KB

In [15]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
price,545.0,4.766729e+06,1.870440e+06,1750000.0,3430000.0,4340000.0,5740000.0,13300000.0
area,545.0,5.150541e+03,2.170141e+03,1650.0,3600.0,4600.0,6360.0,16200.0
bedrooms,545.0,2.965138e+00,7.380639e-01,1.0,2.0,3.0,3.0,6.0
bathrooms,545.0,1.286239e+00,5.024696e-01,1.0,1.0,1.0,2.0,4.0
stories,545.0,1.805505e+00,8.674925e-01,1.0,1.0,2.0,2.0,4.0
parking,545.0,6.935780e-01,8.615858e-01,0.0,0.0,0.0,1.0,3.0

In [19]:
data['guestroom'].value_counts()

guestroom
no     448
yes     97
Name: count, dtype: int64

In [18]:
data['hotwaterheating'].value_counts()

hotwaterheating
no     520
yes     25
Name: count, dtype: int64

In [20]:
data['airconditioning'].value_counts()

airconditioning
no     373
yes    172
Name: count, dtype: int64

In [14]:
data.isnull().sum()

price              0
area               0
bedrooms           0
bathrooms          0
stories            0
guestroom          0
hotwaterheating    0
airconditioning    0
parking            0
dtype: int64